/**
* customized divs (containers) and framed objects (background and frame image).
*/

/* game div without background image*/
.rpgui-container {
  /* position style and default z */
  position: fixed;
  z-index: 10;

  overflow: show;
}

/* game div with background image*/
.framed {
  /* border */
  border-style: solid;
  border-image-source: url("../assets/rpg/border-image.png");
  border-image-repeat: repeat;
  border-image-slice: 6 6 6 6;
  border-image-width: 18px;
  border-width: 15px;
  padding: 12px;

  /* internal border */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  /* background */
  background: url("../assets/rpg/background-image.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
}

/* game div with golden background image*/
.framed-golden {
  /* border */
  border-style: solid;
  border-image-source: url("../assets/rpg/border-image-golden.png");
  border-image-repeat: repeat;
  border-image-slice: 4 4 4 4;
  border-image-width: 18px;
  border-width: 15px;
  padding: 12px;

  /* internal border */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  /* background */
  background: url("../assets/rpg/background-image-golden.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
}

/* game div with golden2 background image*/
.framed-golden-2 {
  /* border */
  border-style: solid;
  border-image-source: url("../assets/rpg/border-image-golden2.png");
  border-image-repeat: repeat;
  border-image-slice: 8 8 8 8;
  border-image-width: 18px;
  border-width: 15px;
  padding: 12px;

  /* internal border */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  /* background */
  background: url("../assets/rpg/background-image-golden2.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
}

/* game div with soft grey background image*/
.framed-grey {
  position: relative;

  /* border */
  border-style: solid;
  border-image-source: url("../assets/rpg/border-image-grey.png");
  border-image-repeat: repeat;
  border-image-slice: 3 3 3 3;
  border-image-width: 7px;
  border-width: 7px;
  padding: 12px;

  /* internal border */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  /* background */
  background: url("../assets/rpg/background-image-grey.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
}
