.board {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-video {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;
    z-index: -2;
}

.bg-video .video {
    height: 100vh;
}

.bg-video::after {
    position: absolute;
    content: "";
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    
    background: linear-gradient(90deg,rgba(0, 0, 0, 1)    0%,
                                      rgba(0, 0, 0, 0.8) 50%,
                                      rgba(0, 0, 0, 1)  100%);
}

